<div class="col-xl-6 col-lg-8">
    <h3>DISCLAIMER</h3>
    <p>AndroWizer Provides No Warranty With This Software and Will Not be Responsible for Any Direct or Indirect Damage Caused Due to The Usage of This Tool.
    </br>AndroSpy is Built for Educational Purpose. Use at Your Own Risk.</p>
</div>   